<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flyme.rbac.account.mapper.AccountMapper">
    <!--数据表定义 -->
    <sql id="t_name">t_u_account</sql>
    <sql id="t_alias">t_u_account as a</sql>

    <!--定义外键表 -->
    <sql id="join">

    </sql>

    <!-- 自定义分页 -->
    <select id="pageList" resultType="com.flyme.common.base.EntityMap">
        select * FROM
        <include refid="t_alias"/>
        <include refid="join"/>
        <where>${ew.sqlSegment}</where>
    </select>
</mapper>